* {
  box-sizing: border-box;
}

.App {
  max-width: 800px;
  margin: 32px auto;
}

td,
th {
  padding: 12px 0;
  text-align: left;
}

i {
  margin: 8px 4px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
i:hover {
  transform: scale(1.2);
}

.searchbar {
  width: 100%;
  padding: 12px 8px;
  outline: none;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 16px;
}
